{% extends 'base.html.twig' %}

{% block title %}Modification du password {% endblock %}
{% block body %}
    <div class="container">
        <h1>Modifier votre Mot de passe </h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-secondary">Modifier le Mot de passe</button>
        {{ form_end(form) }}

    </div>


{% endblock %}