{
  "extends": "stylelint-config-standard",
  "rules": {
    "string-quotes": "double",
    "value-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "at-rule-no-vendor-prefix": true,
    "color-named": "never",
    "max-line-length": 60
  }
}