@import "~bootstrap";
@import "bootstrap.css";
@import "bootswatch";
@import "variables";



.avatar-mini{
  max-width: 24px;
  min-width: 24px;
}

.avatar-moyen{
  max-width: 100px;
  min-width: 100px;
}

