{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">BIENVENIDO!</h4>
        <p class="mb-0"><span class="20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dicta ea eaque eligendi enim est fugit, illo ipsa odio sed sint sit temporibus voluptatem? Cumque molestiae numquam unde! Quis, tempora!</span</a>.</p>
    </div>
    <div class="row m-5">
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3 "  style="max-width: 20rem;">
                <div class="card-header">Titulo</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3 "  style="max-width: 20rem;">
                <div class="card-header">Titulo</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3 "  style="max-width: 20rem;">
                <div class="card-header">Titulo</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>



{% endblock %}