{% extends 'base.html.twig' %}

{% block title %} Edition du form {% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1> Modifier une annonce</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-warning">Modifier l'annonce</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $('#add-image').click(function() {
            //recuperation de champs
            const index = +$('#widgets-counter').val();

            //rec prototype des entrées
            const tmpl = $('#ad_images').data('prototype').replace(/__name__/g, index);

            //j'injecte ce code au sein de la div
            $('#ad_images').append(tmpl);

            $('#widgets-counter').val(index + 1);

            //je gère le buton sup
            handleDeleteButtons();

        });

        function handleDeleteButtons(){
            $('button[data-action="delete"]').click(function (){
                const target = this.dataset.target;
                $(target).remove();
            });

        }
        function updateCounter(){
            const count = +$('#ad_images div.form-group').length;

            $('#widgets-counter').val(count);
        }
        updateCounter();
        handleDeleteButtons();
    </script>

{% endblock %}
