{% extends 'base.html.twig' %}

{% block title %}los Anuncios!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4"> Voici la liste</h1>
        <div class="row m-5">
            {% for ad in ads %}
                {% include 'ad/_ad.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
